/vendor
./vendor
/.idea
./.idea
Homestead.json
./Homestead.json
Homestead.yaml
./Homestead.yaml
.env
./.env
/.env
.phpunit.result.cache

*.lock
./*.lock
/*.lock

./public/uploads/*
/public/uploads/*
public/uploads/*